<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ">
      <div>
        <img id=logo src="/assets/duoc-logo-s.png" alt="image">
        
      </div>
      <h2 id=parrafo>Sistema de asistencia DUOC</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card>
      <ion-card-subtitle>Ingresa tu respuesta</ion-card-subtitle>
      <ion-input type="text" [(ngModel)]="respuesta" placeholder="Ingresa tu correo"></ion-input>
      <a (click)="validarRespuestaSecreta()">Recuperar contraseña</a>
    </ion-card>
  </div>
</ion-content>
