ion-toolbar { 
    --background: #F1B634;
    --color: white;
  
    --border-color: #000000;
    --border-width: 4px 0;
  
    --min-height: 80px;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
#fondo{
    --background: #000000;
}