<ion-header>
  <ion-toolbar >
    <ion-title #titulo>
      <div>
        <img id=logo src="/assets/duoc-logo-s.png" alt="image">
        <p id=parrafo>Sistema de asistencia DUOC</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Recuperar contraseña</h2>
        </ion-label>
      </ion-card-title>
    </ion-card>
    </div>
</ion-content>
